#ignore files except following
*
!*.abt
!*.ahk
!*.ans
!*.arg
!*.bat
!*.config
!*.csv
!*.cuix
!*.dat
!*.dll
!*.dotm
!*.dvb
!*.exe
!*.gitignore
!*.html
!*.ico
!*.in
!*.ini
!*.js
!*.jpg
!*.json
!*.log
!*.mac
!*.map
!*.md
!*.png
!*.php
!*.snippets
!*.solc
!*.txt
!*.ts
!*.vim
!*.wav
!*.xla
!*.xml
!*.zip

!**/
bundle/
ag/
phpMyAdmin/

